@charset "UTF-8";


h2 {
    color: #2c3e50;
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    color: #34495e;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.about-container {
    max-width: 800px;
    margin: 0;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
    margin-bottom: 15px;
    font-size: 1rem;
    color: #555;
}

ul {
    list-style: disc inside;
    margin-left: 20px;
}

ul li {
    margin-bottom: 10px;
    font-size: 1rem;
}

/* Highlighted Text */
strong {
    color: #2c3e50;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
